In [24]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import  train_test_split
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [25]:
df = pd.read_csv(r"C:\Users\admin\Desktop\SMVITA\jupiter\datafiles\CO2 Emissions_Canada.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7385 entries, 0 to 7384
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Make                              7385 non-null   object
 1   Model                             7385 non-null   object
 2   Vehicle Class                     7385 non-null   object
 3   Engine Size(L)                    7385 non-null   float64
 4   Cylinders                         7385 non-null   int64
 5   Transmission                      7385 non-null   object
 6   Fuel Type                         7385 non-null   object
 7   Fuel Consumption City (L/100 km)  7385 non-null   float64
 8   Fuel Consumption Hwy (L/100 km)   7385 non-null   float64
 9   Fuel Consumption Comb (L/100 km)  7385 non-null   float64
 10  Fuel Consumption Comb (mpg)       7385 non-null   int64
 11  CO2 Emissions(g/km)               7385 non-null   int64
dtypes: float64(4), int64(3), object(5)
memory usage: 692.5+ KB

In [26]:
df.head()

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [27]:
X  = df.iloc[:,[3]].values
y  = df.iloc[:,-1].values

In [28]:
print(X.shape,y.shape)

(7385, 1) (7385,)

In [29]:
sc = StandardScaler()
sc.fit_transform(X,y)

array([[-0.85672099],
       [-0.5613172 ],
       [-1.22597573],
       ...,
       [-0.85672099],
       [-0.85672099],
       [-0.85672099]])

In [30]:
X_train, X_test , y_train, y_test = train_test_split(X,
                                                     y,
                                                     test_size=None,
                                                     random_state=123)

In [31]:
print(X_train.shape, X_test.shape , y_train.shape, y_test.shape)

(5538, 1) (1847, 1) (5538,) (1847,)

In [32]:
model = LinearRegression()
model.fit(X,y)

LinearRegression()

In [33]:
model.predict(X)

array([207.9205231 , 222.63144917, 189.5318655 , ..., 207.9205231 ,
       207.9205231 , 207.9205231 ])